/* Index Page */
.ihtml, .ibody{
    margin: 0;
    background-color: #F2E9E4;
    font-family: 'Quicksand', sans-serif;
}

.iNav{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.iNames{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.iA{
    text-decoration: none;
    color: black;
}

.imainheader {
    height: 40px;
    padding-left: 600px;
    top: 121px;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    color: #22223B;
}

.icircle{
    height: 310px;
    width: 310px;
    background-color: #9A8C98;
    border-radius: 50%;
    display: inline-block
}

.imainrectangle{
    width: 1080px;
    height: 480px;
    top: 80px;
    border-radius: 50px;
    background-color: #C9ADA7;
}

.itextbox {
    width: 620px;
    height: 230px;
    top: 200px;
    border-radius: 50px;
    background-color: #4A4E69;
}

.imeetbox {
    width: 200px;
    height: 35px;
    top: 365px;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.icarcircle{
    display: flex;
    justify-content: row;
}

.ianikacircle {
    height: 25.66px;
    width: 25.66px;
    background-color: #F2E9E4;
    border-radius: 50%;
    display: inline-block;
}

.ikylecircle {
    height: 25.66px;
    width: 56.46px;
    border-radius: 10px;
    background-color: #F2E9E4;
}

.imariessacircle {
    height: 25.66px;
    width: 25.66px;
    background-color: #F2E9E4;
    border-radius: 50%;
    display: inline-block;
}

.ipatriciacircle {
    height: 25.66px;
    width: 25.66px;
    background-color: #F2E9E4;
    border-radius: 50%;
    display: inline-block;
}

.iyanjuncircle {
    height: 25.66px;
    width: 25.66px;
    background-color: #F2E9E4;
    border-radius: 50%;
    display: inline-block;
}

.irightarrow {
    width: 31px;
    height: 31px;
    top: 31px;
}
/* Anika Page */


/* Patricia Page */


/* YanJun Page */


/* Kyle Page */


/* Mariessa Page */

.mhtml, .mbody{
    margin: 0;
    background-color: #F2E9E4;
    font-family: 'Quicksand', sans-serif;
}

.mNav{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mNames{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.mA{
    text-decoration: none;
    color: black;
}